<% include ../header %>
	<% include ../helpers/search_form %>
	<% if (messages.success) { %>
		<div class="alert alert-success">
			<span><%- messages.success %></span>
		</div>
	<% } %>
	<section class="post">
		<header class="post-header">
			<h1 class="pull-left"><%- post.title %></h1>
			<% if (sess.user && sess.user._id == post.user){ %>
				<div class="actions pull-right">
					<form action="/post/<%-post._id%>" method="post">
						<a href="/post/<%-post._id%>/editar" class="btn btn-default">Editar</a>
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit" class="btn btn-danger">Apagar</button>
					</form>
				</div>
			<% } %>
		</header>
		<article class="post-body">
			<span><%- post.body %></span>
		</article>
		<br>
		<footer class="post-footer">
			<div class="infos">
				<div class="row">
					<div class="col-lg-12">
						<p>
							<strong>Autor:</strong> <a href="/user/<%- user._id %>"><%- user.email %></a> |
							<strong>Data: </strong><%=: post.createdAt | formatDate %> |
							<strong><%- post.comments.length %> Comentários</strong> |
							<% if (post.tags){ %>
								<strong>Tags:</strong>
								<% post.tags.split(',').forEach(function(tag) { %>
									<a href="/tags/<%-tag%>"><span class="label label-info"><%- tag %></span></a>
								<% }) %>
							<% } %>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</section>
	<section class="comments">
		<header>
			<h3>Comentários eeeee</h3>
			
<!--            <label>Encontrado</label><input class="checkbox"type="checkbox"/>-->
		</header>
		<article>
			<% if (post.comments) { %>
				<% post.comments.forEach(function(comment){ %>
					<div class="comment-action">
						<% if (sess.user && sess.user._id == post.user){ %>
							<div class="pull-left">
								<form action="/post/<%-post._id%>/comment/<%-comment._id%>" method="post">
									<input type="hidden" name="_method" value="DELETE">
									<button type="submit" class="btn btn-danger btn-small"><i class="icon-trash icon-white">x</i></button>
								</form>
							</div>
						<% } %>
						<strong><%- comment.finded %>: </strong>
						<strong><%- comment.email %>: </strong>
						<span><%- comment.body  %></span>
					</div>
				<% }) %>
			<% } %>
		</article>
		<hr />
		<section class="new-comment">
			<article>
				<form action="/post/<%-post._id%>/comment" method="post">
					<div class="control-group">
						<div class="checkbox">
			                <label for="comment[finded]"><input id="finded" type="text" name="comment[finded]" value="true">Encontrado</label>
			                <script>
                            console.log()
                            </script>
			            </div>
						<label for="comment[email]">E-Mail</label>
						<input name="comment[email]" class="form-control" type="email" required >
					</div>
					<br>
					<div class="control-group">
						<label for="comment[body]">Comentário</label>
						<textarea class="form-control" name="comment[body]" required ></textarea>
					</div>
					<br>
					<div class="control-group">
						<button type="submit" class="btn">Comentar</button>
					</div>
				</form>
			</article>
		</section>
	</section>


<% include ../footer %>